<!--<div id="selectorLenguaje">
  <mat-form-field>
    <mat-label>{{ translations.SELECT_TITLE?.TITLE }}</mat-label>
    <select matNativeControl #selectList (change)="changeLanguage(selectList.value)">
      <option value="en">{{ translations.SELECT_LANGUAGE?.ENG }}</option>
      <option value="es">{{ translations.SELECT_LANGUAGE?.SPN}}</option>
    </select>
  </mat-form-field>
</div>
-->
<div id="divSelectIdioma">
    <select #selectList class="form-select form-select-sm" (change)="changeLanguage(selectList.value)">
      <option value="en" selected>{{ translations.SELECT_LANGUAGE?.ENG }}</option>
      <option value="es">{{ translations.SELECT_LANGUAGE?.SPN}}</option>
    </select>
</div>
