@use '@angular/material' as mat;

// Define primary and accent palettes
$primary-palette: mat.m2-define-palette(mat.$blue-palette);
$accent-palette: mat.m2-define-palette(mat.$cyan-palette);

// Light theme colors
$light-theme: mat.define-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    background: (
      default: #ffffff
    ),
    text: (
      primary: #000000
    )
  )
));

// Dark theme colors
$dark-theme: mat.define-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    background: (
      default: #000000
    ),
    text: (
      primary: #ffffff
    )
  )
));

.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
