html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.light-theme {
  color: #000000;

  /*Aplicar color de texto a componentes específicos si es necesario*/
  body {
    color: #000000;
  }

  .mat-button {
    color: #000000;
  }

  /*Agrega otros selectores según sea necesario*/
}

.dark-theme {
  color: #ffffff;

  /*Aplicar color de texto a componentes específicos si es necesario*/
  body {
    color: #ffffff;
  }

  .mat-button {
    color: #ffffff;
  }

  /* Agrega otros selectores según sea necesario*/
}
